h1 {
    text-align: center;
}

#taskTotal, #activeUser, #accountCheckNum, #accountToCheck {
    font-size: xx-large;
}

.messageTitle1 {
    font-size: x-large;
}

.messageTitle {
    font-size: large;
}

.messageTime {
    font-size: xx-small;
    margin-left: 30px;
}