* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/*.head{*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 999;*/
/*    width: 100%;*/
/*    background-color: #f3f7fa;*/
/*    height: 70px;*/
/*    filter:alpha(opacity=90);*/
/*    -moz-opacity:0.9;*/
/*    opacity:0.9;*/
/*    -khtml-opacity: 0.9;*/
/*}*/

/*.logo_img{*/
/*    width: 350px;*/
/*    height: 60px;*/
/*    !*border-radius: 50%;*!*/
/*    border: 2px solid #ffffff;*/
/*    margin-bottom: 15px;*/
/*}*/
/*.head_logo_div,.head_nav_div{*/
/*    width: 50%;*/
/*    float: left;*/
/*}*/
/*.head_logo_div{*/
/*    line-height: 70px;*/
/*    text-align: center;*/
/*}*/

body{
    background-color: #afdcff;
    width: 100%;
    position: relative;
}
img{
    vertical-align:middle;
}
.head_img {
    margin-top: 5px;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 0.1rem;
    border: 2px solid deepskyblue;
}

#btn-search{
    width: 80px;
    margin-left: 15px;
}

#bs-example-navbar-collapse-1{
    margin-left: 160px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
#demo{
    text-align: center;
}

/* 主体内容 */

.main-content {
    /* 固定 width + height */
    width: 1140px;
    height: 649px;
    /*margin-top: 70px;*/
    background-color: silver;
}


/* 左侧边 */

.left-side {
    float: left;
    /* 这边设置左边占的宽度的百分比 */
    width: 180px;
    height: 100%;
    background-color: #fff;
    border-right: #e9eaee 0.1mm solid;
}


/* 左侧边 - 菜单项 */

.left-side ul {
    width: 100%;
}

.left-side li {
    float: left;
    width: 100%;
    border-bottom: #e9eaee 0.1mm solid;
}

.left-side li a {
    display: block;
    width: 100%;
    height: 65px;
    text-align: center;
    line-height: 50px;
    background-color: #fbfcff;
    /* 字体大小 + 是否加粗（400 = 不加粗，700 = 加粗） */
    font-size: 18px;
    font-weight: 700;
}


/* 右边内容 */

.right-content {
    float: left;
    /* 这边设置右边占的宽度的百分比 */
    width: 960px;
    height: 100%;
    background-color: white;
}