<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>委托相关</title>
    <script src="/bootstrap-3.3.7-dist/js/jquery-1.11.1.min.js"></script>
    <script src="/js/echarts.min.js" charset="UTF-8"></script>
</head>
<body>
<div style="padding-top: 20px;padding-left: 20px;padding-right: 20px;">
    <div id="taskTotal">
        <h3>平台委托发布比例图</h3>
        <div id="taskTotalChart" style="width: 80%;height: 500px"></div>
    </div>

    <div id="taskState">
        <h3>委托类别比例图</h3>
        <div id="taskStateChart" style="width: 80%;height:500px;"></div>
    </div>
</div>

<script type="text/javascript">
    var dom = document.getElementById("taskTotalChart");
    var myChart = echarts.init(dom);
    var app = {};
    option = null;
    $.get('taskTotalFun', function (data) {
        option = {
            xAxis: {
                type: 'category',
                boundaryGap: false
            },
            yAxis: {
                type: 'value',
                boundaryGap: [0, '30%']
            },
            visualMap: {
                type: 'piecewise',
                show: false,
                dimension: 0,
                seriesIndex: 0
            },
            series: [
                {
                    type: 'line',
                    smooth: 0.6,
                    symbol: 'none',
                    lineStyle: {
                        color: 'rgba(255, 102, 0, 0.94)',
                        width: 3
                    },
                    markLine: {
                        symbol: ['none', 'none'],
                        label: {show: false},
                        data: [
                            {xAxis: 1},
                            {xAxis: 2},
                            {xAxis: 3},
                            {xAxis: 4},
                            {xAxis: 5},
                            {xAxis: 6},
                            {xAxis: 7},
                        ]
                    },
                    areaStyle: {},
                    data: data.data
                    //     [
                    //     ['周一', 200],
                    //     ['周二', 400],
                    //     ['周三', 650],
                    //     ['周四', 500],
                    //     ['周五', 250],
                    //     ['周六', 300],
                    //     ['周日', 450]
                    // ]
                }
            ]
        };

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    });
</script>

<script type="text/javascript">
    var dom2 = document.getElementById("taskStateChart");
    var myChart2 = echarts.init(dom2);

    $.get('taskCategoriesFun', function (data) {
        // var datajson=$.parseJSON(data);
        // myChart.setOption({
        //     series : [
        //         {
        //             name: '访问来源',
        //             type: 'pie',    // 设置图表类型为饼图
        //             radius: '55%',  // 饼图的半径，外半径为可视区尺寸（容器高宽中较小一项）的 55% 长度。
        //             data:data.taskCategories
        //         }
        //     ]
        // })

        option2 = {
            title: {
                text: '委托各类别占比',
                subtext: '仅供参考',
                left: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: '{a} <br/>{b} : {c} ({d}%)'
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: ['生活类别', '咨询类别', '娱乐类别', '紧急委托']
            },

            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '65%',
                    center: ['50%', '60%'],
                    data: data.taskCategories
                    ,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };

        myChart2.setOption(option2);
    }, 'json');

</script>

</body>
</html>