<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户账号审核</title>
    <!--layui-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="layui-row" style="padding-top: 20px;padding-left: 20px;padding-right: 20px;">
    <div class="layui-form">
        <div class="demoTable">
            按用户id搜索：
            <div class="layui-inline">
                <input class="layui-input" id="demoReload" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
<!--        <script type="text/html" id="toolbarDemo">-->
<!--            <div class="layui-btn-container">-->
<!--                <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>-->
<!--                <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>-->
<!--                <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
<!--            </div>-->
<!--        </script>-->

        <table class="layui-table" id="test" lay-filter="test"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="check">通过</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="wrong">不通过</a>
        </script>
    </div>
</div>


<script>
    layui.use(['table', 'layer', 'form'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var form = layui.form;


        table.render({
            elem: '#test'
            , height: '550'
            , cellMinWidth: 80
            , page: 'true'
            , count: 10
            , limits: [10, 20, 50]
            , limit: 10
            , url: '/accountCheckFun'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户账号申请表'
            , cols: [
                [
                    {field: 'userId', width: 130, title: '用户id', sort: true, fixed: 'true'}
                    , {field: 'userName', width: 100, title: '用户名'}
                    , {field: 'registerTime', width: 125, title: '注册时间', sort: true}
                    , {field: 'realName', width: 100, title: '真实姓名'}
                    , {field: 'sex', width: 80, title: '性别', sort: true}
                    , {field: 'age', width: 80, title: '年龄', sort: true}
                    , {field: 'identityNumber', width: 230, title: '身份证号'}
                    , {field: 'tel', width: 150, title: '联系电话'}
                    , {field: 'email', width: 150, title: 'e-mail'}
                    , {field: 'address', width: 150, title: '住址'}
                    , {field: 'education', width: 110, title: '学历'}
                    , {field: 'profession', width: 100, title: '职业'}
                    , {fixed: 'right', width: 150, align: 'center', toolbar: '#barDemo'}
                ]
            ]
            , id: 'testReload'
        });
        // //头工具栏事件
        // table.on('toolbar(test)', function (obj) {
        //     var checkStatus = table.checkStatus(obj.config.id);
        //     switch (obj.event) {
        //         case 'getCheckData':
        //             var data = checkStatus.data;
        //             layer.alert(JSON.stringify(data));
        //             break;
        //         case 'getCheckLength':
        //             var data = checkStatus.data;
        //             layer.msg('选中了：' + data.length + ' 个');
        //             break;
        //         case 'isAll':
        //             layer.msg(checkStatus.isAll ? '全选' : '未全选');
        //             break;
        //
        //         //自定义头工具栏右侧图标 - 提示
        //         case 'LAYTABLE_TIPS':
        //             layer.alert('这是工具栏右侧自定义的一个图标按钮');
        //             break;
        //     }
        // });

        //监听行工具事件
        table.on('tool(test)', function (obj) {
            var data = obj.data;
            console.log(obj)
            if (obj.event === 'check') {
                layui.$.ajax({
                    type: 'post'
                    , url: "/accountCheckOption"
                    , data: data
                    , contentType: "application/x-www-form-urlencoded"
                    , success: function (data) {
                        console.log(data);
                        if (data == "success") {
                            layer.msg('审核通过，操作成功');
                            obj.del();
                        } else {
                            layer.msg('操作失败，请检查网络');
                        }
                    }

                })
            } else if (obj.event === 'wrong') {
                layui.$.ajax({
                    type: 'post'
                    , url: "/accountCheckWrongOption"
                    , data: data
                    , contentType: "application/x-www-form-urlencoded"
                    , success: function (data) {
                        console.log(data);
                        if (data == "success") {
                            layer.msg('操作成功，账号已打回');
                            obj.del();
                        } else {
                            layer.msg('操作失败，请检查网络');
                        }
                    }

                })
            }
        });
        //
        // var $ = layui.$, active =
        //     {
        //         reload: function () {
        //             var demoReload = layui.$('#demoReload').val();//获取输入框的值
        //             //执行重载
        //             table.reload('test',
        //                 {
        //                     page:
        //                         {
        //                             curr: 1 //重新从第 1 页开始
        //                         }
        //                     , where: { name: demoReload}//这里传参  向后台
        //                     , url: '/accountCheckSearchById'//后台做模糊搜索接口路径
        //                     , method: 'post'
        //                 });
        //         }
        //     };
        // //这个是用于创建点击事件的实例
        // layui.$('.demoTable .layui-btn').on('click', function ()
        // {
        //     var type = $(this).data('type');
        //     active[type] ? active[type].call(this) : '';
        // });
    });
</script>
</body>
</html>