<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册EnjoyLife</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/register.css">
    <!--layui-->
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <div class="text-center">
        <div class="page-header" style="text-align: center">
            <h1>用户注册 <small>请填写真实的个人信息</small></h1>
        </div>
        <input id="msg" type="hidden" th:value="${msg}" />
        <div class="content" style="display: flex;width: 700px;margin: auto;">
            <form class="layui-form" action="/registerFinish" method="post">
                <div class="layui-card-header">账号信息</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">用户名</label>
                        <div class="layui-input-block">
                            <input type="text" name="username" lay-verify="required" lay-reqtext="用户名是必填项，岂能为空？"
                                   placeholder="请输入用户名"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" lay-verify="required|pass" placeholder="请输入密码"
                                   autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">请填写6到12位密码</div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" name="confirmPassword" lay-verify="required|confirmPass"
                                   placeholder="请再次输入密码" autocomplete="off"
                                   class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">两次输入的密码必须一致</div>
                    </div>
                </div>

                <div class="layui-card-header">个人信息</div>
                <div class="layui-card-body">
                    <div class="layui-form-item">
                        <label class="layui-form-label">真实姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" name="realname" lay-verify="required|realName" lay-reqtext="请输入真实姓名"
                                   placeholder="2-4位汉字"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-block">
                            <input type="radio" name="sex" value="男" title="男" checked="">
                            <input type="radio" name="sex" value="女" title="女">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">联系电话</label>
                            <div class="layui-input-inline">
                                <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">E-mail</label>
                            <div class="layui-input-inline">
                                <input type="text" name="email" lay-verify="required|email" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">身份证号</label>
                        <div class="layui-input-block">
                            <input type="text" name="identity" lay-verify="identity" placeholder="" autocomplete="off"
                                   class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">家庭住址</label>
                        <div class="layui-input-block">
                            <textarea type="text" name="address" lay-verify="required" lay-reqtext="请输入您的家庭住址！"
                                      class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-inline">
                            <select name="education" lay-filter="study" lay-verify="required" lay-reqtext="请选择学历">
                                <option value="" selected=""></option>
                                <option value="小学">小学</option>
                                <option value="初中">初中</option>
                                <option value="中专">中专</option>
                                <option value="高中">高中</option>
                                <option value="大专">大专</option>
                                <option value="本科及以上">本科及以上</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">当前职业</label>
                        <div class="layui-input-block">
                            <input type="text" name="profession" lay-verify="required" lay-reqtext="请输入当前职业"
                                   autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">密保问题</label>
                            <div class="layui-input-inline">
                                <select name="quiz">
                                    <option value="">请选择问题</option>
                                    <optgroup label="城市记忆">
                                        <option value="你工作的第一个城市">你工作的第一个城市</option>
                                    </optgroup>
                                    <optgroup label="学生时代">
                                        <option value="你的工号">你的工号</option>
                                        <option value="你最喜欢的老师">你最喜欢的老师</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">填写回答</label>
                        <div class="layui-input-block">
                            <textarea  name="answer" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <input type="checkbox" id="realInfo" lay-verify="check" checked="checked" title="我已阅读">
                            <a href="#"><b>《服务条款》</b></a>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1" id="submit">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                    <p><label>已有账号？<a href="/login" id="findPassLink">点击登录</a></label></p>
                </div>
            </form>

        </div>

    </div>

</div>


<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        if(layui.$("#msg").val()!==""){
            layer.alert(layui.$("#msg").val());
        }

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [
                /^[\S]{6,12}$/
                , '密码必须6到12位，且不能出现空格'
            ]
            , content: function (value) {
                layedit.sync(editIndex);
            }
            , confirmPass: function (value) {
                if (layui.$("input[name=password]").val() !== value)
                    return '两次密码输入不一致！';
            }
            , realName: [
                /^[\u4e00-\u9fa5]{2,4}$/
                , '真实姓名2-4位汉字'
            ]
            , check: function () {
                var checked = document.getElementById("realInfo");
                if (checked.checked == false) {
                    {
                        return "请勾选协议";
                    }
                }
            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {
            if (layui.$("input[name=identityNumber]").checked()) {
                // layer.alert(JSON.stringify("感谢使用EnjoyLife!"), {
                //     title: data.username
                // })
            }
            return false;
        });

    });
</script>

</body>
</html>